<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js"
      type="module"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ee52631823.js"
      crossorigin="anonymous"
    ></script>
    <title>Projects</title>
  </head>
  <body>
    <div class="bg-container-projects">
      <nav class="navbar">
        <div class="name-container">
          <div class="name-logo">
            <a href="{{ url_for('home')}}" class="name-logo-link">R.</a>
          </div>
          <h2 class="name-heading">Rohit</h2>
        </div>
        <div class="nav-items">
          <a href="{{ url_for('projects')}}" class="nav-item">Projects</a>
          <a href="{{ url_for('resume')}}" class="nav-item">Resume/CV</a>
          <a href="{{ url_for('home')}}#contact" class="nav-item">Contact</a>
        </div>
      </nav>
      <div class="tech-stack-container proj-container">
        <h1 class="tech-heading">Projects</h1>
        <div class="tech-cards">
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3270).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">NetFlix Clone(Static)</h2>
              <a
                href="https://rohitnetflix.ccbp.tech/"
                target="_blank"
                class="proj-link"
                >Live Demo <i class="fa-solid fa-up-right-from-square"></i
              ></a>
              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">HTML/CSS</p>
                <p class="tech-card-content proj-tech">Flexbox</p>
                <p class="tech-card-content proj-tech">Bootstrap</p>
                <p class="tech-card-content proj-tech">CSS Transitions</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3272).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">Countries Population Application</h2>
              <a
                href="https://countrypopl.ccbp.tech/"
                target="_blank"
                class="proj-link"
                >Live Demo <i class="fa-solid fa-up-right-from-square"></i
              ></a>
              <a
                href="https://github.com/Rohitrebel/Countries-Search-Web-Application"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>
              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">HTML/CSS</p>
                <p class="tech-card-content proj-tech">JavaScript</p>
                <p class="tech-card-content proj-tech">Flexbox</p>
                <p class="tech-card-content proj-tech">Bootstrap</p>
                <p class="tech-card-content proj-tech">FetchAPI</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3266).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">ToDo List Application</h2>
              <a
                href="https://todorohit.ccbp.tech/"
                target="_blank"
                class="proj-link"
                >Live Demo <i class="fa-solid fa-up-right-from-square"></i
              ></a>
              <a
                href="https://github.com/Rohitrebel/To-Do-Web-Application"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>
              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">HTML/CSS</p>
                <p class="tech-card-content proj-tech">JavaScript</p>
                <p class="tech-card-content proj-tech">Flexbox</p>
                <p class="tech-card-content proj-tech">Bootstrap</p>
                <p class="tech-card-content proj-tech">LocalStorage</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3269).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">VoiceGPT</h2>
              <a
                href="https://voicegpt-xzwy.onrender.com/"
                target="_blank"
                class="proj-link"
                >Live Demo <i class="fa-solid fa-up-right-from-square"></i
              ></a>
              <a
                href="https://github.com/Rohitrebel/To-Do-Web-Application"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>
              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">Python/Flask</p>
                <p class="tech-card-content proj-tech">JavaScript</p>
                <p class="tech-card-content proj-tech">SpeechRecognition</p>
                <p class="tech-card-content proj-tech">gTTs</p>
                <p class="tech-card-content proj-tech">
                  MistralLLM/OpenRouterAPI
                </p>
                <p class="tech-card-content proj-tech">Pydub</p>
                <p class="tech-card-content proj-tech">HTML/CSS</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3273).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">Weather Based Wallpaper System</h2>
              <a
                href="https://www.hackster.io/rohitbhupalam/automatic-weather-based-wallpaper-change-system-02b65a"
                target="_blank"
                class="proj-link"
                >Hackster.io <i class="fa-solid fa-up-right-from-square"></i
              ></a>
              <a
                href="https://github.com/Rohitrebel/Automatic_Wallpaper_Changer"
                target="_blank"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>
              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">Python</p>
                <p class="tech-card-content proj-tech">Bolt IoT</p>
                <p class="tech-card-content proj-tech">
                  Make(Webhook Integration)
                </p>
                <p class="tech-card-content proj-tech">
                  Micro-controllers/sensors
                </p>
                <p class="tech-card-content proj-tech">Mailgun</p>
                <p class="tech-card-content proj-tech">Pixabay API</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (3274).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">Food Order Project using MERN</h2>
              <a
                href="https://github.com/Rohitrebel/FoodOrder-Project"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>

              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">ReactJS</p>
                <p class="tech-card-content proj-tech">ExpressJS</p>
                <p class="tech-card-content proj-tech">MongoDB</p>
                <p class="tech-card-content proj-tech">PostmanAPI</p>
                <p class="tech-card-content proj-tech">NodeJS</p>
                <p class="tech-card-content proj-tech">Stripe</p>
              </div>
            </div>
          </div>
          <div class="tech-card tech-projects">
            <img
              src="{{url_for('static',filename='Screenshot (4787).png')}}"
              class="projects-card-img"
            />
            <div class="card-content-projects">
              <h2 class="proj-heading">
                An Dynamic Data Shared with RSA-Based in Cloud Environment
              </h2>
              <a
                href="https://github.com/Rohitrebel/An-Dynamic-Data-Shared-with-RSA-Based-in-Cloud-Environment"
                target="_blank"
                class="proj-link"
                >Github <i class="fa-brands fa-github"></i
              ></a>
              <a
                href="{{url_for('static',filename='APRO6.pdf')}}"
                class="proj-link"
                >Documentation</a
              >

              <div class="tech-used-projects">
                <p class="tech-card-content proj-tech">Java</p>
                <p class="tech-card-content proj-tech">J2EE</p>
                <p class="tech-card-content proj-tech">JSP</p>
                <p class="tech-card-content proj-tech">RSA Cryptography</p>
                <p class="tech-card-content proj-tech">SHA</p>
                <p class="tech-card-content proj-tech">MySQL</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
